<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>HTTP Cloner-Service %VERSION%</title>
    <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<!--<script src="js/scripts.js"></script>-->
<header>
    <h1>HTTP Cloner-Service %VERSION%</h1>
</header>

<section>
    <h3>Available calls:</h3>
    <ul>
        <li><a href="/start">/start</a> (GET)</li>
        <li><a href="/stop">/stop</a> (GET)</li>
        <li><a href="/restart">/restart</a> (GET)</li>
        <li><a href="/status">/status</a> (GET)</li>
        <li><a href="/version">/version</a> (GET)</li>
    </ul>
</section>

<footer>
    <p>&copy; 2016 B2D.com.pl. All rights reserved.</p>
</footer>
</body>
</html>